In [31]:
import pandas as pd

url = "https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/001/125/original/aerofit_treadmill.csv?1639992749"
df = pd.read_csv(url)

df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   KP281   18    Male         14        Single      3        4   29562    112
1   KP281   19    Male         15        Single      2        3   31836     75
2   KP281   19  Female         14     Partnered      4        3   30699     66
3   KP281   19    Male         12        Single      3        3   32973     85
4   KP281   20    Male         13     Partnered      4        2   35247     47

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
sns.set_style("whitegrid")
plt.rcParams['figure.figsize'] = (12, 6)

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    str
 1   Age            180 non-null    int64
 2   Gender         180 non-null    str
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    str
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), str(3)
memory usage: 12.8 KB

In [15]:
for value in df['Product'].unique():
    data = df[df['Product'] == value]
    print(value)
    print(f"Mean: {data['Age'].mean():.2f}")
    print(f"Median: {data['Age'].median():.2f}")
    print(f"SD: {data['Age'].std():.2f}")

KP281
Mean: 28.55
Median: 26.00
SD: 7.22
KP481
Mean: 28.90
Median: 26.00
SD: 6.65
KP781
Mean: 29.10
Median: 27.00
SD: 6.97

In [9]:
df['Gender'].value_counts(normalize=True).round(2)

Gender
Male      0.58
Female    0.42
Name: proportion, dtype: float64

In [10]:
for value in df['Product'].unique():
    data = df[df['Product'] == value]
    print(value)
    print(f"proportion: {df['Gender'].value_counts(normalize=True).round(2)} ")

KP281
proportion: Gender
Male      0.58
Female    0.42
Name: proportion, dtype: float64
KP481
proportion: Gender
Male      0.58
Female    0.42
Name: proportion, dtype: float64
KP781
proportion: Gender
Male      0.58
Female    0.42
Name: proportion, dtype: float64

In [11]:
df['MaritalStatus'].value_counts(normalize=True).round(2)

MaritalStatus
Partnered    0.59
Single       0.41
Name: proportion, dtype: float64

In [14]:
for value in df['Product'].unique():
    data = df[df['Product'] == value]
    print(value)
    print(f"proportion: {df['MaritalStatus'].value_counts(normalize=True).round(2)} ")

KP281
proportion: MaritalStatus
Partnered    0.59
Single       0.41
Name: proportion, dtype: float64
KP481
proportion: MaritalStatus
Partnered    0.59
Single       0.41
Name: proportion, dtype: float64
KP781
proportion: MaritalStatus
Partnered    0.59
Single       0.41
Name: proportion, dtype: float64

In [12]:
mean_income = df['Income'].mean().round(2)
print(mean_income)

53719.58

In [13]:
median_income = df['Income'].median().round(2)
print(mean_income)

53719.58

In [16]:
min_income, max_income = df['Income'].min(), df['Income'].max()
print(f'Income Range: {min_income:.2f} - {max_income:.2f}')

Income Range: 29562.00 - 104581.00

In [36]:
for value in df['Product'].unique():
    data = df[df['Product'] == value]
    print(value)
    print(f"Mean: {data['Income'].mean():.2f}")
    print(f"Median: {data['Income'].median():.2f}")
    print(f"SD: {data['Income'].std():.2f}")

KP281
Mean: 46418.03
Median: 46617.00
SD: 9075.78
KP481
Mean: 48973.65
Median: 49459.50
SD: 8653.99
KP781
Mean: 75441.57
Median: 76568.50
SD: 18505.84

In [38]:
df['Product'].unique()

<StringArray>
['KP281', 'KP481', 'KP781']
Length: 3, dtype: str

In [39]:
for value in df['Product'].unique():
    data = df[df['Product'] == value]
    print(value)    
    min_income, max_income = df['Income'].min(), df['Income'].max()
    print(f'Income Range: {min_income:.2f} - {max_income:.2f}')

KP281
Income Range: 29562.00 - 104581.00
KP481
Income Range: 29562.00 - 104581.00
KP781
Income Range: 29562.00 - 104581.00